div {
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 200px;
    background-color: rgb(157, 255, 255);
    transition-duration: 1s;
}
div:hover {
    transform: skew(20deg);
}