body {
    background-color: rgb(209, 255, 255);
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 16px;
}
p {
    color: rgb(35, 43, 155);
    font-size: 50px;
}
img {
    width: 700px;
    height: 500px;
    border-radius: 50%;
}
a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
ul {
    list-style-type: square;
}
ul li a {
    color: black;
}