* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: rgb(204, 203, 203);
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-style: 36px;
    line-height: normal;
    margin-top: 30px;
}
span:hover, li:hover {
font-size: 28px;
}
li {
    padding: 15px 0;
    color: #fff;
}
.wrapper {
    height: 100%;
    overflow: hidden;
}
.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px 15px;
}
.title {
    margin: 0px 0px 40px 0px;
    font-size: 30px;
    color: rgb(0, 0, 92);
}
.font, .animation, .background {
    margin-bottom: 40px;
}
.font_icons {
    width: 50%;
    margin-bottom: 20px;
    padding-left: 30px;
    background-color: rgb(19, 26, 53);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: width 2s;
}
.font_icons:hover {
    width: 100%;
}
.animation_block {
    width: 100%;
    margin-bottom: 20px;
    padding: 30px;
    background-color: rgb(19, 26, 53);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block-element {
    height: 100px;
    width: 100px;
    padding: 1px;
    background-color: rgb(204, 203, 203);
    margin-right: 5px;
    margin-left: 5px;
    animation: skews(3s infinite);
    transform: skew(20deg);
}
.fas {
    animation-iteration-count: infinite;
    transform: rotate(90deg);
}
.background {
    background-image: url(56615749_401.jpg);
    background-repeat: no-repeat;
    width: 2000px;
    height: 18000px;
    background-color: lawngreen;
}